<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Welcome dear
{{if .}}
{{.Fname}}
{{end}}
<br><a href="/logout">logout</a>
</body>
</html>
