<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">
    <input type="email" name="uname" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">
    <br><br><a href="/signup">signup</a>
</form>

</body>
</html>
