<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form method="post">
    <input type="email" name="uname" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="fname" placeholder="firstname"><br>
    <input type="text" name="lname" placeholder="lastname"><br>
    <input type="submit">
</form>

</body>
</html>
